
@font-face {
  font-family: "Roboto";
  src: url(./asset/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
     background-image: url(./asset/img/MainWallpaper.png);
     height: 100%; 
     background-position: top;
     background-repeat: no-repeat;
     background-size: cover;
}

body {
  margin: 0;
  font-family: "Roboto";
}


